/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset */
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&family=Montserrat:wght@400;700&display=swap'); */
/* I tried to use the import, it was not taking well */
:root {
    --black: #0D0D0D;
    --off-white: #F2F2F2;
    --dark-teal: #7ABFBF;
    --light-teal: rgba(122, 191, 191, 0.5);
    --orange: #EB5428;
}
/* Typography */
h1, h2, h3, nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}
p, dd, li, nav, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
dt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 40px;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-align: center;
}
h3 {
    font-size: 25px;
    text-align: center;    
}
nav a, nav span, menu li, #social li, footer {
    font-size: 20px;
}
p, dd, li, nav, input, dt {
    font-size: 16px;
}
/* Main */
html{
    box-sizing: border-box;
    background-color: var(--light-teal);
}
body {
    margin: 0 auto;
    width: 100%;
    max-width: 414px;
    background-color: var(--off-white);
}
.container {
    display: flex;
    flex-direction: column;
}
menu{
    margin: 0;
    padding:0;
}
menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 10px;
}

menu li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--orange);
    margin: 0;
    padding: 0;
}
menu section {
    background-color: var(--off-white);
}
menu p {
    padding: 10px;
    line-height: 1.5;
}
header {
    order: 2;
}
header section img{
    width: 100%;
}
#details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px; 
}
#details h2 {
    margin: 10px;
}

#details dl {
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
    margin-top: 0;
}
ul, ol{
    margin-top: 0;
    padding-left: 25px;
}
main {
    order: 3;
}
main section {
    line-height: 2;
}
main section h2 {
    margin: 10px;
}
main section ul {
    list-style: square;
}
main section ol {
    list-style: number;
    margin: 5px;
}
/* Aside */
aside {
    background-color: var(--dark-teal);
    text-align: left;
    margin-bottom: 20px;
    order: 4;
}
aside h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
aside section{
    display: grid;
    grid-template-areas:
        "image title"
        "image description"
        "image rating";
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    text-align: left;
}

aside img {
    grid-area: image;
    margin: 10px;
    display: block;
    max-width: 100px;
}

aside h3 {
    grid-area: title;
    text-align: left;
    margin: 0;
}

aside p {
    grid-area: description;
    margin: 0;
}

aside .rating {
    grid-area: rating;
    margin: 0;
}

aside {
    margin-bottom: 20px;
}
aside a {
    text-decoration: none;
    color: var(--black)
}
aside img {
    max-width: 100px;
    display: block;
}
aside h3 {
    margin-bottom: 10px;
}
aside .rating dl {
    display: flex;
}
aside .rating dd {
    margin: 0;
}
aside .rating dt {
    margin-right: 5px;
}
aside .rating svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

/* Nav */

nav {
    order: 1;
}
nav h3 {
    display: none;
}
#hamburger {
    display: none;
}
nav ul li:not(:first-child):not(:nth-child(2)):not(:last-child) {
    display: none;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
nav li a {
    color: var(--black);
    text-decoration: none;
}
nav ul li:first-child, nav ul li:last-child {
    flex: 1;
}
nav ul li:nth-child(2) {
    background-color: var(--orange);
    flex: 2;
    text-align: center;
    
}
nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
nav ul li a svg {
    margin-bottom: 8px;
}
#search-bar {
    height: 40px;
    border: none;
    border: 2px solid var(--orange);
    outline: none;
}

#search-bar:focus {
    box-shadow: 0 0 5px var(--orange);
}
nav div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/* footer */
footer {
    background-color: #ffffff;
    order: 5;
}
footer h3, footer h2 {
    display: none;
}
footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}
footer ul img {
    display: block;
}
footer li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--orange);
    margin: 0;
    padding: 0;
}
footer > section:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
footer > section:last-of-type p {
    order: 2;
    color: var(--black);
    font-family: "Bebas neue", sans-serif;
    font-weight: 700;
}
footer > section:last-of-type p:first-of-type {
    margin-top: 15px;
}
footer img {
    width: 50%;
}