/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset */
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&family=Montserrat:wght@400;700&display=swap'); */
/* I tried to use the import, it was not taking well */
:root {
	--black: #0d0d0d;
	--off-white: #f2f2f2;
	--dark-teal: #7abfbf;
	--light-teal: rgba(122, 191, 191, 0.5);
	--orange: #eb5428;
}

/* Typography */
h1,
h2,
h3,
nav a,
nav span,
menu li,
#social li,
footer {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
}

p,
dd,
li,
nav,
input {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

dt {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 40px;
	text-align: center;
}

h2 {
	font-size: 30px;
	text-align: center;
}

h3 {
	font-size: 25px;
	text-align: center;
}

nav a,
nav span,
menu li,
#social li,
footer {
	font-size: 20px;
}

p,
dd,
li,
nav,
input,
dt {
	font-size: 16px;
}

/* Main */
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	background-color: var(--light-teal);
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 414px;
	background-color: var(--off-white);
}

.container {
	display: flex;
	flex-direction: column;
}

menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	margin: 0 10px 0 0;
	padding: 0;
}

menu li a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: var(--orange);
	margin: 0;
	padding: 0;
}

menu section {
	background-color: var(--off-white);
}

menu p {
	padding: 10px;
	line-height: 1.5;
}

header {
	order: 2;
}

header section img {
	width: 100%;
}
header section h3 {
	display: none;
}
#details {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin: 10px;
}

#details h2 {
	margin: 10px;
}

#details dl {
	display: flex;
	justify-content: start;
	margin-bottom: 5px;
	margin-top: 0;
}

ul,
ol {
	margin-top: 0;
	padding-left: 25px;
}

main {
	order: 3;
}

main section {
	line-height: 2;
}

main section h2 {
	margin: 10px;
}

main section ul {
	list-style: square;
}

main section ol {
	list-style: number;
	margin: 5px;
}

/* Aside */
aside {
	background-color: var(--dark-teal);
	text-align: left;
	margin-bottom: 20px;
	order: 4;
}

aside h2 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}
aside h4 {
	display: none;
}
aside section {
	margin-top: 10px;
	display: grid;
	grid-template-areas:
		"image title"
		"image description"
		"image rating";
	grid-template-columns: auto 1fr;
	grid-gap: 10px;
	text-align: left;
}

aside img {
	grid-area: image;
	margin: 10px;
	display: block;
	max-width: 100px;
}

aside section h3 {
	grid-area: title;
	text-align: left;
	margin: 0;
	margin-bottom: 10px;
}

aside section p {
	grid-area: description;
	margin: 0;
}

aside .rating {
	grid-area: rating;
	margin: 0;
}


aside a {
	text-decoration: none;
	color: var(--black);
}

aside .rating dl {
	display: flex;
}

aside .rating dd {
	margin: 0;
}

aside .rating dt {
	margin-right: 5px;
}

aside .rating svg {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

/* Nav */

nav {
	order: 1;
	position: relative;
	width: 100%;

}

nav h3 {
	display: none;
}

.recipes li {
    flex: 1; 
    text-align: center; 
}

.recipes li a {
	color: var(--orange);
}

.recipes img {
	width: 70%;
}

nav li a {
	color: var(--black);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}

.recipes {
    display: none;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 55%;
    left: 0;
    width: 100%;
    background-color: var(--off-white);
    z-index: 1;
	border-bottom: 1px solid black;
}

.recipes li {
    flex: 1;
    text-align: center;
	width: 50%;
}

#hamburger-checkbox {
	position: absolute;
	top: 10px;
	left: 30px;
	opacity: 0;
	width: 40px;
	height: 40px;
}

#hamburger {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#hamburger label {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	z-index: 1;
    cursor: pointer;
	font-family: "Bebas neue", sans-serif;
}

#hamburger svg {
    pointer-events: none;
}


#hamburger-checkbox:checked + label + .recipes {
	display: flex;
}


.recipes li a {
	font-size: 12px;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}



nav li a:hover, #hamburger:hover, menu li a:hover, footer li a:hover  {
    background-color: var(--dark-teal);
}

.search a svg:hover{
    fill-opacity: .5;
    fill: var(--dark-teal)
}

nav ul li#hamburger {
	flex: 1;
	order: 1;
}
nav ul li#avatar {
	flex: 1;
	order: 3;
}
nav ul li#home {
	background-color: var(--orange);
	flex: 2;
	text-align: center;
	order: 2;
}

nav ul li a svg {
	margin-bottom: 2px;
}


#search-bar {
	height: 40px;
	border: none;
	border: 2px solid var(--orange);
	outline: none;
}

#search-bar:focus {
	box-shadow: 0 0 5px var(--orange);
}

.search {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

/* footer */
footer {
	background-color: #ffffff;
	order: 5;
}

footer h3,
footer h2 {
	display: none;
}

footer ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 40px;
}

footer ul img {
	display: block;
}

footer li a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: var(--orange);
	margin: 0;
	padding: 0;
}

footer > section:last-of-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

footer > section:last-of-type p {
	order: 2;
	color: var(--black);
	font-family: "Bebas neue", sans-serif;
	font-weight: 700;
	margin-top: 15px;
}

footer img {
	width: 50%;
}

@media screen and (min-width: 768px) {
	body {
		max-width: 768px;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 80px;
	}

	nav ul {
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		border-bottom: none;
	}

	#hamburger > label > svg, #hamburger > label, #hamburger-checkbox{
		display: none;
	}

	nav ul li#home {
		flex: none;
		order: 1;
	}
	
	.search {
		position: absolute;
		order: 3;
		right: 130px;
	}
	nav ul li#hamburger {
		flex: none;
		order: 2;
	}

	nav ul li#avatar {
		flex: none;
		order: 4;
		margin-right: 10px;
	}


	header h1 {
		text-align: left;
		margin-left: 10px;
	}
	.content-wrapper {
		position: relative;
	}
	menu {
		position: absolute;
		top: 0;
		left: 0;
		margin-right: 0;
		justify-content: space-evenly;
		width: 100%;
		background-color: rgba(218, 245, 245, 0.5);
	}

	.recipes {
		display: flex;
		width: 100%;
		margin-top: 20px;
	}

	.recipes img {
		width: 50%;
	}

	.recipes li a {
		font-size: 20px;
	}

	header section p {
		margin: 10px;
		line-height: 1.5;
	}

	#details dl {
		justify-content: center;
	}

	#ingredients {
		width: 35%;
		display: inline-block;
		vertical-align: top;
	}

	#directions {
		width: 60%;
		display: inline-block;
		vertical-align: top;
	}

	#ingredients,
	#directions {
		margin-right: 2%;
	}

	aside {
		display: grid;
		grid-template-areas:
			"title title"
			"mexicanrice salsa"
			"guacamole tortillas";
		grid-template-columns: auto 1fr;
		grid-gap: 10px;
		text-align: left;
	}

	#title {
		grid-area: title;
	}

	#mexicanrice {
		grid-area: mexicanrice;
	}

	#salsa {
		grid-area: salsa;
	}

	#guacamole {
		grid-area: guacamole;
	}

	#tortillas {
		grid-area: tortillas;
	}

	footer {
		display: flex;
		flex-direction: row-reverse;
	}

	footer section {
		margin-top: 20px;
	}
	footer section ul li {
		margin-right: 20px;
	}
	footer section img,
	footer ul li {
		margin-top: 20px;
	}
}

@media screen and (min-width: 1080px) {
	body {
		max-width: 1080px;
	}

	header {
		display: flex;
		flex-direction: column;
	}

	.content-wrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items:stretch;
	}

	menu {
		order: 1;
		display: flex;
		flex-direction: column;
		margin-right: 20px;
	}

	menu {
		position: initial;
		display: flex;
		flex-direction: column;
		list-style: none;
		padding: 0;
		background-color: var(--off-white);
	}

	menu li a {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		color: var(--orange);
		margin: 5px 0;
	}

	.menu-container {
		border: 2px solid var(--orange);
		padding: 10px;
        text-align: center;
	}

	header section {
		display: flex;
		margin-right: 10px;
	}

	header section img {
		width: 30%;
	}

	section#details {
		background-color: var(--black);
		color: var(--dark-teal);
	}

	#details {
		margin: 0;
	}

	#details .details {
		display: flex;
		justify-content: space-between;
	}

	#details dl {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
	}

	#details dt {
		margin: 0;
	}

	aside {
		display: grid;
		grid-template-areas:
			"title title title title"
			"image image image image"
			"mexicanrice salsa guacamole tortillas"
			"rating rating rating rating";
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	aside img {
		grid-area: image;
		max-width: 200px;
	}

	#title {
		grid-area: title;
	}

	#mexicanrice {
		grid-area: mexicanrice;
		display: flex;
		flex-direction: column;
	}

	#salsa {
		grid-area: salsa;
		display: flex;
		flex-direction: column;
	}

	#guacamole {
		grid-area: guacamole;
		display: flex;
		flex-direction: column;
	}

	#tortillas {
		grid-area: tortillas;
		display: flex;
		flex-direction: column;
	}
	aside section p {
		width: 90%;
		margin-bottom: 10px;
	}
	aside section div + div {
		margin-left: 10px;
	}
	footer section:last-of-type {
		flex-direction: row;
		width: 50%;
	}
	footer section div {
		order: 2;
		align-self: start;
		margin-top: 50px;
	}
	footer {
		display: flex;
		justify-content: space-between;
		padding: 20px;
	}

	footer section {
		margin-top: 40px;
	}

	footer section img {
		margin-top: 30px;
		width: 40%;
	}

	footer ul li {
		margin-right: 40px;
	}

	footer ul {
		margin-top: 60px;
	}

	footer img {
		width: 60%;
	}

	footer > section:last-of-type p:first-of-type {
		margin-top: 25px;
	}

	nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	.search {
		position: initial;
		order: 4;
		width: 100%;
	}
	nav ul {
		flex-wrap: nowrap;
	}
	nav #home {
		order: 1;
	}
	.recipes img {
		width: 40%;
	}
	.recipes {
		position: relative;
		order: 2;
	}
	#avatar {
		order: 3;
	}
	nav ul li#hamburger {
		flex: 1;
	}
}
